<label class="
  p-3 flex
  {{ if orient == 'row' }}flex-row space-x-4 items-center{{ else }}flex-col space-y-2{{ /if }}
  {{ if width == 'full' }}w-full{{ elseif width == 'half' }}w-1/2{{ /if }}
">
  <span>{{ name }}{{ if optional }} (optional){{ /if }}</span>
  {{ if kind == 'textarea' }}
    {{ partial:textarea name="{name|slugify}" }}
  {{ elseif kind == 'select' }}
    {{ partial:select name="{name|slugify}" }}
  {{ else }}
    {{ partial:input name="{name|slugify}" }}
  {{ /if }}
</label>
