{{ partial:form name="RSVP" form_description="You may RSVP by filling out this convenient electronic form! RSVPing by email or post is also great." }}
  {{ partial:field kind="name" name="Name" width="half" }}
  {{ partial:field kind="email" name="Email" width="half" }}
  <fieldset class="flex flex-row flex-wrap w-full">
    <legend>We plan on attending:</legend>
    <label class="mr-4"><input name="ceremony" class="field" type="checkbox" checked> Ceremony</label>
    <label class="mr-4"><input name="reception" class="field" type="checkbox" checked> Reception</label>
  </fieldset>
  {{ partial:field kind="textarea" name="Does anyone in your party have any dietary restrictions?" }}
  {{ partial:field kind="textarea" name="Message" optional="true" width="full" }}
{{ /partial:form }}
