<main class="justify-center max-w-3xl mx-auto sm:max-w-none sm:grid grid-main-and-sides gap-x-8 gap-y-8">
    <h1 class="text-3xl font-light grid-header">{{ title }}</h1>
    <nav class="grid-left">
        <ul class="space-y-4 sticky top-8" id="home-nav">
            {{ sections }}
            <li><a href="#{{ slug }}">{{ title }}</a></li>
            {{ /sections }}
        </ul>
    </nav>
    <div class="space-y-8 divide-y divide-teal-200 grid-main">
        {{ sections }}
        <section id="{{ slug }}" aria-labelledby="{{ slug }}-heading" class="pt-8 first:pt-0">
            <h2 class="mb-2 text-2xl font-medium" id="{{ slug }}-heading">{{ title }}</h2>
            {{ content }}
        </section>
        {{ /sections }}
    </div>
</main>
