<!doctype html>
<html lang="{{ site:short_locale }}">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{{ title ?? site:name }}</title>
        {{ if search_engines:can_index }}<meta name="robots" content="noindex">{{ /if }}
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link rel="stylesheet" href="{{ mix src='css/tailwind.css' }}">
        <link href="https://fonts.googleapis.com/css2?family=Spectral:ital,wght@0,300;0,400;0,500;0,700;1,400&display=swap" rel="stylesheet">
        {{ if description }}<meta name="description" content="{{ description }}">{{ /if }}
    </head>
    <body class="px-4 py-8 leading-normal text-gray-900 bg-teal-50 sm:px-8 font-spectral">
        {{ template_content }}
        <script src="{{ mix src='/js/site.js' }}"></script>
    </body>
</html>
