@layer base {
    a {
      @apply underline text-teal-800;
      text-underline-offset: 0.25em;
      text-decoration-thickness: 0.05em;
      transition: 200ms ease text-decoration-thickness;
    }

    a[aria-current = "true"] {
        @apply font-bold;
        text-decoration-thickness: 0.1em;
    }

    p {
        @apply mt-6 mb-6;
    }
}

@layer utilities {
    .grid-main-and-sides {
        grid-template-areas: "none-1 header none-2" "left main right";
        grid-template-columns: 12rem 36rem 12rem;
    }

    .grid-main { grid-area: main; }
    .grid-left { grid-area: left; }
    .grid-right { grid-area: right; }
    .grid-header { grid-area: header; }

    .font-spectral {
      font-family: Spectral, 'Libre Baskerville', Georgia, serif;
    }
}
