@layer base {
    a {
      @apply underline interactive;
      text-underline-offset: 0.25em;
      text-decoration-thickness: 0.05em;
      transition: 300ms ease text-decoration-thickness, 300ms ease font-weight;
    }

    a[aria-current = "true"] {
        @apply font-bold;
        text-decoration-thickness: 0.1em;
    }

    p {
      @apply my-6;
      &:first-child[class = ""] { @apply mt-0; }
      .sr-only:first-child + & { @apply mt-0; }
    }

    body {
      @apply leading-normal text-gray-900 bg-maroon-50;
    }

    form {
      input[type = "text"], input[type = "email"], textarea {
        @apply padded-md teal-border-rounded;
      }
    }
}

@layer utilities {
    .grid-main-and-sides {
        grid-template-areas: "none-1 header none-2" "left main right";
        grid-template-columns: 10rem minmax(0, 36rem) 10rem;
    }

    .grid-main-and-one-side {
      grid-template-areas: "header header" "left main" "right right";
      grid-template-columns: 8rem minmax(0, 36rem);
    }

    .grid-single-column {
      grid-template-areas: "header" "left" "main" "right";
    }

    .grid-main { grid-area: main; }
    .grid-left { grid-area: left; }
    .grid-right { grid-area: right; }
    .grid-header { grid-area: header; }

    .font-spectral {
      font-family: Spectral, 'Libre Baskerville', Georgia, serif;
    }

    .padded-md { @apply px-3 py-2; }
    .padded-lg { @apply px-6 py-4; }

    .teal-border-rounded { @apply rounded border border-teal-700; }

    .interactive {
      @apply text-teal-800;
    }

}

@layer components {
  .button {
    @apply padded-md font-bold;
  }

  .button-teal {
    @apply teal-border-rounded bg-teal-900 text-gray-100;
  }

  .field {
    @apply padded-md rounded border border-maroon-500;
  }

  .label {
    @apply text-sm text-maroon-800 italic;
  }
}
